.container {
	width: 15%;
	height: 100hv;
	background-color: #0d0d0d;
	color: #fcfcfc;
	padding: 1rem;
	padding-top:0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.header {
	padding: 0 1rem;
	margin-bottom: 1rem;
}
.name {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 1rem;
	border-bottom: 3px solid #fcfcfc20;
}
h2 {
	display: block;
	font-size: 2rem;
	margin: 0.2rem;
	padding: 0;
	font-family: 'Outfit';
	font-weight: 700;
}
.logo {
	height: 2rem;
	/* margin-left: 1rem; */
	margin-right: 0.7rem;
}
.container button {
	display: inline-flex;
	justify-content:center;
	align-items: center;
	transition: 0.3s ease;
	background-color: #ffffff15;
	color: #fcfcfc50;
	font-size: 1.3rem;
	border-radius: 5px;
	border: 0;
	padding: 6px 10px;
	margin:2px;
}
.container button:hover {
	background-color: #ff0066;
	color: #0d0d0d;
	cursor: pointer;
}
.container > .buttons{
	width:100%;
	display: inline-flex;
	justify-content: space-around;
}
.listOfNotes {
	width: 95%;
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0;
	overflow:auto;
}
.listOfNotes::-webkit-scrollbar {
	width: 0.9rem;
}
.listOfNotes::-webkit-scrollbar-thumb {
	background-color: #4b4b4b;
	border-left: 10px solid #0d0d0d;
}
.note {
	margin-bottom: 1rem;
	width: 90%;
	padding: 7px;
	border-radius: 5px;
	background-color: #fcfcfc10;
	color: #fcfcfc85;
	display: flex;
	justify-content: start;
	transition: 0.3s ease;
	font-family: 'Outfit';
	font-weight: 400;
}
.note:hover {
	background-color: #fcfcfc;
	color: #0d0d0d;
	cursor: pointer;
}
.container a{
	text-decoration: none;
}
.activeNote{
	background-color: #a7a7a7;
	color: #0d0d0d;;
}

