.container {
	display: flex;
	height: 100vh;
}
@media screen and (min-width: 1320px) {
	.container {
		display: flex;
	}
	.smallPage {
		display: none;
	}
}
@media screen and (max-width: 1319px) {
	.container {
		display: none;
	}
	.smallPage {
		display: block;
	}
}
