@font-face {
	font-family: 'Outfit';
	src: url('../assets/fonts/Outfit-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-VariableFont_wght.ttf');
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'Inter';
	font-weight: 400;
	background-color: #f2f2f2;
}
html {
	height: 100vh;
}
li::marker {
	color: #ff0066;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Outfit';
}
code {
	background-color: #e4e4e4;
	border-radius: 2px;
	padding: 3px 8px;
	color: #ff0066;
}
