h3 {
	font-size: 3rem;
	margin: 1.5rem;
	letter-spacing: 0.1rem;
}
.container {
	height: 100hv;
	width: 38%;
	background-color: #0d0d0d;
	color: #fcfcfc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 50%;
	padding: 1rem;
}
.login form {
	display: grid;
	gap: 12px;
	width: 100%;
	margin: 0 0 32px;
}
.login .textbox {
	position: relative;
}
.login :is(input, button) {
	height: 56px;
	font-size: 1.4rem;
	padding: 0 16px;
	border: 0;
	border-radius: 8px;
}
label,
input {
	transition: 0.3s;
}
.textbox label {
	position: absolute;
	top: 50%;
	left: 16px;
	translate: 0 -50%;
	transform-origin: 0 50%;
	pointer-events: none;
	color: #ffffff90;
}
.textbox {
	width: 100%;
}
.textbox input {
	box-sizing: border-box;
	width: 100%;
	padding: 16px 16px 0;
	background: #251930;
	outline: none;
	color: #fcfcfc;
	box-shadow: 0 0 0 2px transparent;
}
.textbox input:focus {
	box-shadow: 0 0 0 2px #ff0066;
}
.textbox input:is(:focus, :not(:invalid)) ~ label {
	scale: 0.725;
	translate: 0 -112%;
}
.login button {
	position: relative;
	color: #fcfcfc;
	font-size: 1rem;
	background-color: #ff0066;
}
.login button:hover {
	cursor: pointer;
}
.login :is(button .arrow, button p) {
	transition: 0.3s;
}
.login button .arrow {
	position: absolute;
	top: 52%;
	left: 50%;
	translate: 20px -50%;
	opacity: 0;
	font-size: 1rem;
}
.login button p {
	margin: 0;
}
.login button:hover p {
	translate: -10px 0;
}
.login button:hover .arrow {
	opacity: 1;
	translate: 35px -50%;
}
.login a {
	font-size: 15px;
	color: #ff0066;
}
.login p {
	margin: 50px 0 0;
	font-size: 1.2rem;
	font-weight: 500;
	color: #fcfcfc;
}
.alert {
	overflow: hidden;
	text-align: center;
	color: #ff3939;
	font-size: 1.2rem;
	font-weight: 300;
	height: 0;
	transition: 0.3s;
}
.error {
	box-shadow: 0 0 0 2px #ff3939;
	border-radius: 8px;
	animation: error-shaking 0.4s ease;
}
.valid {
	height: 32px;
}
@media screen and (max-width: 1920px) {
	h3 {
		font-size: 2.2rem;
		margin: 1.5rem;
		letter-spacing: 0.05rem;
	}
	.login input {
		font-size: 1rem;
	}
}
@keyframes error-shaking {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(10px);
	}
	50% {
		transform: translateX(-10px);
	}
	75% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}
